body {
	background-color: #000;
  background-image: url(
    "/images/NYC_View.png",
    "/images/Westside_Highway.png",
    "/images/Highline.png",
    "/images/Charlottesville.png",
    "/images/Battery_Park.png");
  padding-bottom: 70px;
  padding-top: 70px;
}

#landing-header {
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}

#landing-header h1 {
	color: #fff;
}






