body {
	background-color: #000;
  background-image: 
    url("/images/NYC_View.png"),
    url("/images/Westside_Highway.png"),
    url("/images/Highline.png"),
    url("/images/Charlottesville.png"),
    url("/images/Battery_Park.png");
  padding-bottom: 70px;
  padding-top: 70px;
}

#landing-header {
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}

#landing-header h1 {
	color: #fff;
}






