<!DOCTYPE html>
<html>
	
<head>
	<title>ACWINTS.COM</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/acwints.css">
</head>
	
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container wide">
			<div class="header item"><i class="code icon"></i>acwints</div>
			<a href="/" class="item">Home</a>
			<a href="/about" class="item">About</a>
			<a href="/blogs" class="item">Blogs<a/>
		</div>
	</div>

    <div id="landing-header">
 		<h1>ACWINTS</h1>
		<a href="/" class="btn btn-lg btn-success">acwints.com</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

	<div class="ui fixed inverted menu">
		<div class="ui container wide">
			<p>acwints.com</p>	
		</div>
	</div>

</body>

</html>