<!-- <%- include ("partials/header.ejs") %> -->

    <div id="landing-header">
 		<h1>ACWINTS</h1>
		<a href="/" class="btn btn-lg btn-success">acwints.com</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<!-- <%- include ("partials/footer.ejs") %> -->