h5{
	color: blue;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.one{
	border-left: 5px solid #F1F1F1;
	padding-left: 3px;
}

body{
	border: 10px solid #F1F1F1;
	width: 60%;
	margin: auto;
	margin-top: 2%;
	padding: 0% 2%;
	font-family: Arial;
}
