<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Rock+Salt&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://kit.fontawesome.com/afb8dfa029.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">

	<title>acwints.com</title>

</head>
	
<body>
	
	<nav class="navbar navbar-default navbar-fixed-top navbar-collapse">
        <div class="container">
  			<ul class="nav nav-tabs">
  				<li role="presentation"><a href="/">Home</a></li>
  				<li role="presentation" class="active"><a href="/views/about">About</a></li>
  				<li role="presentation"><a href="/views/thoughts/all_thoughts">Thoughts</a></li>
  				<li role="presentation"><a href="/views/photos">Photos</a></li>
  				<li role="presentation"><a href="/views/data">Data</a></li>
  				<li role="presentation"><a href="/views/music">Music</a></li>
  				<li class="pull-right" role="presentation"><a class="navbar-brand" href="/">ACW</a></li>
			</ul>
  		</div>
	</nav>
	<!-- Header Ends Here -->

	<section class="container" id="about">
		<div class="row row-equal">
			<div class="col-sm-6 col-xs-12 col-equal">
				<div class="panel" id="background">
					<div>
		    			<div class="panel-header">
			    			<h5>
			    				<strong id="aboutme">About Me</strong>
		    					<button class="btn btn-primary pull-right" href="https://drive.google.com/u/0/uc?id=1KODbipxfmHL2VJhB5C7B9xJfMZA_y3V0&export=download">My Resume</button>
			    			</h5>
			    		</div>
		    			<strong>
							<p>
								Hello, thanks for visiting my personal website!
								<br>
								<br>
								I'm Andrew, a Connecticut native with a background in Economics and Two-Sided Marketplaces.
								<br>
								<br>
								I graduated from Washington & Lee University in 2015, and since then I've spent the majority of my career focused on the Technology industry while living in New York City.
								<br>
								<br>
								My experience includes roles in Customer Operations, Data Insights and Program Management, all of which required the analysis of consumer behavior to support strategic initiatives. 
								<br>
								<br>
								I'm passionate about the power of startups and I'm always on the lookout for emerging trends or potential inflection points that could unlock new opportunities.
								<br>
								<br>
								If you're interested in getting in touch, please feel free to reach out on
									<a href="https://www.twitter.com/acwints">Twitter</a>.
								<br>
								<br> 
								<h5><strong>Skills</strong></h5>
								<div class="meta-container">
									<span class="label label-default">SQL</span>
									<span class="label label-default">Excel</span>
									<span class="label label-default">Tableau</span>
									<span class="label label-default">Looker</span>
									<span class="label label-default">Pricing</span>
									<span class="label label-default">Data</span>
									<span class="label label-default">Marketplaces</span>
									<span class="label label-default">HTML</span>
									<span class="label label-default">Bootstrap/CSS</span>
								</div>
							</p>
						</strong>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 col-equal">
				<div class="panel" id="background">
					<img src="../images/Portugal_Solo.jpg">
				</div>
			</div>
		</div>
    </section>>

	<!-- Footer Starts Here -->
	<nav class="navbar navbar-default navbar-fixed-bottom navbar-collapse">
		<div class="container">
			<ul class="nav nav-tabs nav-justified">
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.linkedin.com/in/andrew-clark-winter" class="fa fa-linkedin"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.github.com/acwints" class="fa fa-github"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://public.tableau.com/profile/acwints#!/" class="fa fa-bar-chart"></a></li>
				<li role="presentation"><a href="/">acwints.com</a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.twitter.com/acwints" class="fa fa-twitter"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://open.spotify.com/user/acwints?si=H_IU1ua_RVeP-mi1d_CuDQ" class="fa fa-spotify"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.instagram.com/acwints" class="fa fa-instagram"></a></li>	
			</ul>
		</div>
	</nav>	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>