<!DOCTYPE html>
<html>
	
<head>
	<title>acwints.com</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://kit.fontawesome.com/afb8dfa029.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
</head>
	
<body>
	
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<ul class="nav nav-tabs">
  				<li role="presentation"><a href="/">Home</a></li>
  				<li role="presentation" class="active"><a href="/views/about">About</a></li>
  				<li role="presentation"><a href="/essays/All_Blogs.html">Essays</a></li>
  				<li role="presentation"><a href="/views/photos">Photos</a></li>
			</ul>
  		</div>
	</nav>
<!-- Header Ends Here -->

	<div class="container">
		<div class="card" id="about" style="width: 18rem;">
			<img class="card-img-top" src="../images/Portugal_Solo.jpg">
			<div class="card-body">	
				<h1 class="card-title">About Me</h1>
				<p class="card-text">
					<ul>
						<li><strong>Name</strong>: Andrew Winter</li>
						<li><strong>Hometown</strong>: Darien, CT</li>
						<li><strong>Education</strong>: Washington & Lee</li>
						<li><strong>Career</strong>:
							<ul>	
								<li><strong>S&P Global</strong>: 2015-2016</li>
								<li><strong>ClassPass</strong>: 2016-2020</li>
							</ul>
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>


<!-- Footer Starts Here -->
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<ul class="nav nav-tabs nav-justified">
				<li role="presentation"><a href="https://www.linkedin.com/in/andrew-clark-winter" class="fa fa-linkedin"></a></li>
				<li role="presentation"><a href="https://www.github.com/acwints" class="fa fa-github"></a></li>
				<li role="presentation"><a href="https://public.tableau.com/profile/andrew7222#!/?newProfile=&activeTab=0" class="fa fa-bar-chart"></a></li>
				<li role="presentation"><a href="/">acwints.com</a></li>
				<li role="presentation"><a href="https://www.twitter.com/acwints" class="fa fa-twitter"></a></li>
				<li role="presentation"><a href="https://open.spotify.com/user/acwints?si=H_IU1ua_RVeP-mi1d_CuDQ" class="fa fa-spotify"></a></li>
				<li role="presentation"><a href="https://www.instagram.com/acwints" class="fa fa-instagram"></a></li>
			</ul>
		</div>
	</nav>	

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>