<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Rock+Salt&display=swap&family=Source+Sans+Pro:wght@400;600&display=swap&family=Indie+Flower&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://kit.fontawesome.com/afb8dfa029.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheets/charts.css">

	<title>acwints.com</title>

</head>
	
<body>
	
	<nav class="navbar navbar-default navbar-fixed-top navbar-collapse">
        <div class="container">
  			<ul class="nav nav-tabs">
  				<li role="presentation"><a href="/">Home</a></li>
  				<li role="presentation"><a href="/views/about">About</a></li>
  				<li role="presentation"><a href="/views/thoughts/all_thoughts">Thoughts</a></li>
  				<li role="presentation"><a href="/views/photos">Photos</a></li>
  				<li role="presentation" class="active"><a href="/views/charts">Charts</a></li>
  				<li role="presentation"><a href="/views/music">Music</a></li>
  				<li role="presentation"><a href="/views/recs">Recs</a></li>
  				<li class="pull-right" role="presentation"><a class="navbar-brand" href="/">ACW</a></li>
			</ul>
  		</div>
	</nav>
	<!-- Header Ends Here -->

	<div class="container">
		<div class="row row-equal">
			<div class="col col-equal col-xs-12 well well-md">
				<p>A picture is worth a thousand words and charts are the very best kind of pictures. There's so much data out there and I want to leverage it to shape my perspective of the world, so I'm using this page to store the coolest charts/graphs/etc. from around the internet, presented with minimal context, as a sort of foundation for my understanding of different trends and phenomena across various subjects and interests.</p>
			</div>
        </div>
		<div class="row row-equal">
			<div class="col col-equal col-xs-12 well well-sm">
				<h4><strong>August 2020</strong></h4>
			</div>
        </div>
        <div class="row row-equal">
			<div class="col col-equal col-md-6 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-header">
						<!-- <span class="label label-info pull-right">Article</span> -->
						<h5><strong>
							<a href="https://twitter.com/zerohedge/status/1299884607270199297/photo/1">
                            Credit Card Interest Rates</a>
						</strong></h5>
					</div>
					<div class="panel-body">
						<img class="thumbnail" src="https://pbs.twimg.com/media/EgoeIhKX0AAn65T?format=jpg&name=medium">
					</div>
					<div class="panel-footer">
						<p>I never really follow interest rates, but the extreme mismatch between credit and savings rates is alarming.</p>
					</div>
				</div>
			</div>
            <div class="col col-equal col-md-6 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-header">
						<!-- <span class="label label-info pull-right">Article</span> -->
						<h5><strong>
							<a href="https://academic.oup.com/jcem/article/92/1/196/2598434">
                            Population-Level Decline in Testosterone in Men</a>
						</strong></h5>
					</div>
					<div class="panel-body">
						<img class="thumbnail" src="https://oup.silverchair-cdn.com/oup/backfile/Content_public/Journal/jcem/92/1/10.1210_jc.2006-1375/1/m_zeg0120647450001.jpeg?Expires=1601545211&Signature=XlXcN2-kLJCNVc24Gyz71fns86Key-Toa3K8s23XXwrND3sdlVZAmcnf-f24LUh9koge9cxv5dKLFmTaNcFNfkYZmeQYFvVaTerwzyU-NxJPoIdDVx4R38Jm4HOpp88x~g1i0YpvH9IrqnamoeYjq9oCF~1L5yQDRHcDX0YlIJhsl5q0Slp~MJjNl-htu5sso6t7e5iCYbunAmQJNCE7JO1M6S7VNyRxWHhEhBdrrA19xmOXOVJPsWr-BXRjpQakNc~55Ylh2Aj3OQUMS8JwQM-DvelURaIx0~9OvAEgN2FqKUInEb1bSMIL7eUYwEsspJEQH8jv0cxk-wPz1ZlWag__&Key-Pair-Id=APKAIE5G5CRDK6RD3PGA">
					</div>
					<div class="panel-footer">
						<p>I've seen a few different things online about this recently and I do think the cultural implications of falling male testosterone could be more severe than we realize.</p>
					</div>
				</div>
			</div>
			<div class="col col-equal col-md-6 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-header">
						<!-- <span class="label label-info pull-right">Article</span> -->
						<h5><strong>
							<a href="https://twitter.com/balajis/status/1297627757250191360?s=20">
							2020 Occupancy Over Time</a>
						</strong></h5>
					</div>
					<div class="panel-body">
						<img class="thumbnail" src="https://pbs.twimg.com/media/EgIZkFRUMAA_-TY?format=jpg&name=small">
					</div>
					<div class="panel-footer">
						<p>"Incredible graph. Fits data from other sources. Sell city, buy country."</p>
					</div>
				</div>
			</div>
			<div class="col col-equal col-md-6 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-header">
						<!-- <span class="label label-info pull-right">Article</span> -->
						<h5><strong>
							<a href="https://www.washingtonpost.com/news/wonk/wp/2014/09/25/think-you-drink-a-lot-this-chart-will-tell-you/">
							Think You Drink A Lot?</a>
						</strong></h5>
					</div>
					<div class="panel-body">
						<img class="thumbnail" src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/5WP4HSGEVI4SZGFPA3ZQZBGPMU.png&w=916">
					</div>
					<div class="panel-footer">
						<p>Alcohol use is anything but a bell curve.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer Starts Here -->
	<nav class="navbar navbar-default navbar-fixed-bottom navbar-collapse">
		<div class="container">
			<ul class="nav nav-tabs nav-justified">
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.linkedin.com/in/andrew-clark-winter" class="fa fa-linkedin"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.github.com/acwints" class="fa fa-github"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://public.tableau.com/profile/acwints#!/" class="fa fa-bar-chart"></a></li>
				<li role="presentation"><a href="/">acwints.com</a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.twitter.com/acwints" class="fa fa-twitter"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://open.spotify.com/user/acwints?si=H_IU1ua_RVeP-mi1d_CuDQ" class="fa fa-spotify"></a></li>
				<li class="hidden-xs hidden-sm" role="presentation"><a href="https://www.instagram.com/acwints" class="fa fa-instagram"></a></li>	
			</ul>
		</div>
	</nav>	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>